.App {
  text-align: center;
}

.file-uploader {
  background-color: rebeccapurple !important;
  display: block;
}

.ag-paging-panel{
  flex-direction: row !important;
  height: fit-content;
  align-items: center;
  padding: 10px 5px;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}